:root {
  --white: #fff;
  --black: #000;
  --red-600: #c51c1c;
  --light-100: #e0ecff;
  --blue-500: #0070f3;
  --blue-800: #04427a;
  --dark-400: #4d4d59;
  --dark-600: #15132c;
  --dark-800: #0d111e;
}